version: "3.9"

services:
  notify_new_movie:
    image: rust:1.86
    working_dir: /app
    volumes:
      - .:/app 
      - "${MOVIE_DIR}:/movies"
    env_file:
      - .env
    command: >
      sh -c "cargo run -p notify_new_movie -- --topic-arn $NOTIFY_NEW_MOVIE_SNS_ARN"

  movie_recommendation_engine:
    image: rust:1.86
    working_dir: /app
    volumes:
      - .:/app
      - ./db/movie_recommendation_engine/ephemeral:/data   
    env_file:
      - .env
    environment:
      BIND_ADDR: "0.0.0.0:8088"
      NDJSON_PATH: "/data/movie_recommendation_engine.ndjson"
    command: >
      sh -c "cargo run -p movie_recommendation_engine"
    ports:
      - "8088:8088"

  dashboard:
    image: rust:1.86
    working_dir: /app
    volumes:
      - .:/app
      - ./db/movie_recommendation_engine/ephemeral:/data   
    env_file:
      - .env
    environment:
      BIND_ADDR: "0.0.0.0:8099"
      NDJSON_PATH: "/data/movie_recommendation_engine.ndjson"
    command: >
      sh -c "cargo run -p dashboard"
    ports:
      - "8099:8099"